$gunmetal: #283044;
$brightNavyBlue: #3276D0;
$glitter: #E0E7FC;
$darkSkyBlue: #75C3D8;
$darkerSkyBlue: #75C3D8;
$airSuperiorityBlue: #78A1BB;

html, body {
  background-color: #fafafa;
}

h1, h2, h3, {
  color: $gunmetal;
}

h1 {
  font-weight: 600 !important;
}

h2, h3, {
  font-weight: 300 !important;
}
